# Virtual Environment 
.venv

# Python cache
__pycache__

# VS Code
.vscode

.DS_Store

# Cocnrete Python artifacts
.artifacts

# Client-server related files
.fhe_keys

# Experiments
experiments
mlir
